/*---------------BACKGROUND-----------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /*---------------HEADER-----------------*/
  header {
    position: relative;
    background: #97A624;
    width: 100%;
    height: 10vh;
    display: flex;
  }
  
  .logo-header {
    position: absolute;
    left: 20px;
    width: 60px;
  }
  
  .donate-button {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 30px;
    background-color: #F0F0F2;
    color: #97A624;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .donate-button:hover {
    background-color: #A3AFBF;
    color: #F0F0F2;
  }
  
  /*---------------MAIN-----------------*/
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F2;
    }
    
    .img-title {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    }
    
    .title-number {
    font-size: 20px;
    font-weight: bold;
    color: #97A624;
    margin-bottom: 20px;
    text-align: left;
    }
    
    .result {
    list-style-type: none;
    padding: 0;
    }
    
    .result li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    button {
    padding: 10px 20px;
    border: none;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
   
    }
    
    .sortear {
    background-color: #97A624;
    margin-left: auto; /* adicionado para alinhar à direita */
    }
    
    .limpar {
    background-color: red;
    margin-right: auto; /* adicionado para alinhar à esquerda */
    }
  /*---------------FOOTER-----------------*/
  
